<div class="col-2 hideOver1920">
  <div class="row">
    <div class="col-3 col-lg-6"></div>
    <div class="col-9 col-lg-6">
      <section id="SIDEBARSMALL">
        <div class="d-flex flex-column align-items-center px-3 pt-2 min-vh-100">
          <ul
            class="nav nav-pills flex-column mb-auto align-items-start d-block w-lg-100"
            id="menu"
          >
            <li>
              <a href="/" class="nav-link px-0 twitterBird">
                <span class=""><i class="fa-brands fa-twitter twitterBird"></i></span>
              </a>
            </li>
            <li>
              <a href="/" class="nav-link px-0 hideLess1920 linkNavBar1">
                <span class="homeNavBar"> <i class="fa-solid fa-house home"></i> Home</span>
              </a>
              <a href="/" class="nav-link px-0 align-middle hideOver1920 linkNavBar1">
                <span class="homeNavBar"> <i class="fa-solid fa-house home"></i></span>
              </a>
            </li>
            <li>
              <a href="/profile" class="nav-link px-0 align-middle hideLess1920 linkNavBar2">
                <span class="d-none d-sm-inline homeNavBar"
                  ><i class="fa-regular fa-user profile"></i> Profile</span
                ></a
              >
              <a href="/profile" class="nav-link px-0 align-middle hideOver1920 linkNavBar2">
                <span class="homeNavBar"> <i class="fa-regular fa-user profile"></i></span>
              </a>
            </li>
            <li>
              <a href="/" class="btn btn-lg align-middle text-center btnNavBar" type="button">
                <span class="align-middle tweetNavBar">Tweet</span>
              </a>
              <a href="/" class="btn text-center align-middle hideOver1920 btnNavBar2">
                <img class="feather" src="img/Vector (1).svg" alt="feather" />
              </a>
            </li>
          </ul>

          <div class="pb-5">
            <div
              class="d-flex align-items-center text-decoration-none"
              id=""
              tabindex="0"
              class="btn btn-lg btn-danger"
              data-bs-toggle="popover"
              data-bs-trigger="click"
              data-bs-container="body"
              data-bs-html="true"
              data-bs-placement="top"
              data-bs-content="<a class='text-danger' href='/Logout'>Logout Username</a>"
            >
              <img
                src="https://github.com/mdo.png"
                alt="avatar"
                width="55"
                height="55"
                class="rounded-circle"
              />
              <div class="hideLess1920">
                <span class="d-none d-sm-block mx-3 userName">Leia</span>
                <span class="d-none d-sm-block mx-3 userEmail">@princesaleia</span>
              </div>
              <span class="ellipsis hideLess1920"><i class="fa-solid fa-ellipsis"></i></span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<div class="col-2 hideLess1920">
  <section id="SIDEBARBIG">
    <div class="d-flex flex-column align-items-center px-3 pt-2 min-vh-100">
      <ul class="nav nav-pills flex-column mb-auto align-items-start d-block w-lg-100" id="menu">
        <li>
          <a href="/" class="nav-link px-0 twitterBird">
            <span><i class="fa-brands fa-twitter twitterBird"></i></span>
          </a>
        </li>
        <li>
          <a href="/" class="nav-link px-0 hideLess1920 linkNavBar1">
            <span class="homeNavBar"> <i class="fa-solid fa-house home"></i> Home</span>
          </a>
          <a href="/" class="nav-link px-0 align-middle hideOver1920 linkNavBar1">
            <span class="homeNavBar"> <i class="fa-solid fa-house home"></i></span>
          </a>
        </li>
        <li>
          <a href="/profile" class="nav-link px-0 align-middle hideLess1920 linkNavBar2">
            <span class="d-none d-sm-inline homeNavBar"
              ><i class="fa-regular fa-user profile"></i> Profile</span
            ></a
          >
          <a href="/profile" class="nav-link px-0 align-middle hideOver1920 linkNavBar2">
            <span class="homeNavBar"> <i class="fa-regular fa-user profile"></i></span>
          </a>
        </li>
        <li>
          <a href="/" class="btn btn-lg align-middle text-center btnNavBar" type="button">
            <span class="align-middle tweetNavBar">Tweet</span>
          </a>
          <a href="/" class="btn text-center align-middle hideOver1920 btnNavBar2">
            <img class="feather" src="img/Vector (1).svg" alt="feather" />
          </a>
        </li>
      </ul>

      <div class="pb-5">
        <div
          class="d-flex align-items-center text-decoration-none"
          id=""
          tabindex="0"
          class="btn btn-lg btn-danger"
          data-bs-toggle="popover"
          data-bs-trigger="click"
          data-bs-container="body"
          data-bs-html="true"
          data-bs-placement="top"
          data-bs-content="<a class='text-danger' href='/logout'>Logout @<%= user.username %></a>"
        >
          <img
            src="https://github.com/mdo.png"
            alt="avatar"
            width="45"
            height="45"
            class="rounded-circle"
          />
          <div class="hideLess1920">
            <span class="d-none d-sm-block mx-3 userNameProf"
              ><%= user.firstname %> <%= user.lastname %></span
            >
            <span class="d-none d-sm-block mx-3 userEmail">@<%= user.username %></span>
          </div>
          <span class="ellipsis hideLess1920"><i class="fa-solid fa-ellipsis"></i></span>
        </div>
      </div>
    </div>
  </section>
</div>
