<div class="col-4 col-lg-3">
  <section id="cards" class="hideLess1298">
    <div class="card card1">
      <h5 class="card-title">What’s happening</h5>
      <div class="card-body">
        <h6 class="card-sub">Programming · Trending</h6>
        <h3 class="card-subtitle">#MongoVsSequelize</h3>
        <h6 class="card-sub">53.6K Tweets</h6>
      </div>
      <div class="card-body">
        <h6 class="card-sub">Entertainment · Trending</h6>
        <h3 class="card-subtitle">#StarWars</h3>
        <h6 class="card-sub">97.5K Tweets</h6>
      </div>
      <div class="card-body">
        <h6 class="card-sub">News · Trending</h6>
        <h3 class="card-subtitle">#LifeInMars</h3>
        <h6 class="card-sub">72.1K Tweets</h6>
      </div>
    </div>
    <div class="card card2">
      <h5 class="card-title">Who to follow</h5>
      <div class="card-body card-body2">
        <img
          src="https://static.vecteezy.com/system/resources/previews/001/993/889/non_2x/beautiful-latin-woman-avatar-character-icon-free-vector.jpg"
          alt="avatar"
          width="45"
          height="45"
          class="rounded-circle d-inline cardAvatar"
        />
        <div class="d-inline-block">
          <h3 class="card-subtitle">Hack Academy</h3>
          <h6 class="card-sub2">@HackAcademy</h6>
        </div>

        <button class="btn btnFollow" type="button">
          <span class="align-middle textInBtnCard">Follow</span>
        </button>
        <button class="btn btnFollow2" type="button">
          <span class="align-middle textInBtnCard">Follow</span>
        </button>
      </div>
      <div class="card-body card-body2">
        <img
          src="https://static.vecteezy.com/system/resources/previews/002/002/332/non_2x/ablack-man-avatar-character-isolated-icon-free-vector.jpg"
          alt="avatar"
          width="45"
          height="45"
          class="rounded-circle d-inline cardAvatar"
        />
        <div class="d-inline-block">
          <h3 class="card-subtitle">JavaScript</h3>
          <h6 class="card-sub2">@Javascript</h6>
        </div>

        <button class="btn btnFollow" type="button">
          <span class="align-middle textInBtnCard">Follow</span>
        </button>
        <button class="btn btnFollow2" type="button">
          <span class="align-middle textInBtnCard">Follow</span>
        </button>
      </div>
      <div class="card-body card-body2">
        <img
          src="https://static.vecteezy.com/system/resources/previews/002/002/257/non_2x/beautiful-woman-avatar-character-icon-free-vector.jpg"
          alt="avatar"
          width="45"
          height="45"
          class="rounded-circle d-inline cardAvatar"
        />
        <div class="d-inline-block">
          <h3 class="card-subtitle">MongoDB</h3>
          <h6 class="card-sub2">@MongoDB</h6>
        </div>

        <button class="btn btnFollow" type="button">
          <span class="align-middle textInBtnCard">Follow</span>
        </button>
        <button class="btn btnFollow2" type="button">
          <span class="align-middle textInBtnCard">Follow</span>
        </button>
      </div>
      <div class="card-body card-body2">
        <img
          src="https://static.vecteezy.com/system/resources/previews/002/002/427/non_2x/man-avatar-character-isolated-icon-free-vector.jpg"
          alt="avatar"
          width="45"
          height="45"
          class="rounded-circle d-inline cardAvatar"
        />
        <div class="d-inline-block">
          <h3 class="card-subtitle">Node.js</h3>
          <h6 class="card-sub2">@nodejs</h6>
        </div>

        <button class="btn btnFollow" type="button">
          <span class="align-middle textInBtnCard">Follow</span>
        </button>
        <button class="btn btnFollow2" type="button">
          <span class="align-middle textInBtnCard">Follow</span>
        </button>
      </div>
      <div class="card-body card-body2">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9WnJe9XZz-FfBkbyUsxHlq89ObrexmjuLSLvWPrRim1A_47Pmz0udCmeezp1GnQ5wqd8&usqp=CAU"
          alt="avatar"
          width="45"
          height="45"
          class="rounded-circle d-inline cardAvatar"
        />
        <div class="d-inline-block">
          <h3 class="card-subtitle">MDN Web Docs</h3>
          <h6 class="card-sub2">@MozDevNet</h6>
        </div>

        <button class="btn btnFollow" type="button">
          <span class="align-middle textInBtnCard">Follow</span>
        </button>
        <button class="btn btnFollow2" type="button">
          <span class="align-middle textInBtnCard">Follow</span>
        </button>
      </div>
    </div>
  </section>
</div>
<div class="col-lg-1"></div>
</div>