<section id="cards" class="d-none d-md-block">

  <div class="card card1 ">
    <h3 class="card-title mb-3">What’s happening</h3>
    <div class="card-body">
        <p class="card-sub mb-2">Programming · Trending</p>
        <p class="card-subtitle">#MongoVsSequelize</p>
        <p class="card-sub mb-0">53.6K Tweets</p>
    </div>
    <div class="card-body">
        <p class="card-sub mb-2">Entertainment · Trending</p>
        <p class="card-subtitle">#StarWars</p>
        <p class="card-sub mb-0">97.5K Tweets</p>
    </div>
    <div class="card-body">
        <p class="card-sub mb-2">News · Trending</p>
        <p class="card-subtitle">#LifeInMars</p>
        <p class="card-sub mb-0">72.1K Tweets</p>
    </div>
</div>

<div class="card card2">
  <h5 class="card-title">Who to follow</h5>
  <div class="card-body card-body2">
    <img
      src="https://static.vecteezy.com/system/resources/previews/001/993/889/non_2x/beautiful-latin-woman-avatar-character-icon-free-vector.jpg"
      alt="avatar"
      width="45"
      height="45"
      class="rounded-circle d-inline cardAvatar"/>
    <div class="d-inline-block">
      <p class="card-subtitle">Hack Academy</p>
      <p class="card-sub2">@HackAcademy</p>
    </div>
    <button class="btn btnFollow" type="button">
      <span class="align-middle textInBtnCard">Follow</span>
    </button>
  </div>
  <div class="card-body card-body2">
    <img
      src="https://static.vecteezy.com/system/resources/previews/002/002/332/non_2x/ablack-man-avatar-character-isolated-icon-free-vector.jpg"
      alt="avatar"
      width="45"
      height="45"
      class="rounded-circle d-inline cardAvatar"/>
    <div class="d-inline-block">
      <p class="card-subtitle">JavaScript</p>
      <p class="card-sub2">@Javascript</p>
    </div>
    <button class="btn btnFollow" type="button">
      <span class="align-middle textInBtnCard">Follow</span>
    </button>
  </div>
  <div class="card-body card-body2">
    <img
      src="https://static.vecteezy.com/system/resources/previews/002/002/257/non_2x/beautiful-woman-avatar-character-icon-free-vector.jpg"
      alt="avatar"
      width="45"
      height="45"
      class="rounded-circle d-inline cardAvatar"/>
    <div class="d-inline-block">
      <p class="card-subtitle">MongoDB</p>
      <p class="card-sub2">@MongoDB</p>
    </div>
    <button class="btn btnFollow" type="button">
      <span class="align-middle textInBtnCard">Follow</span>
    </button>
  </div>
  <div class="card-body card-body2">
    <img
      src="https://static.vecteezy.com/system/resources/previews/002/002/427/non_2x/man-avatar-character-isolated-icon-free-vector.jpg"
      alt="avatar"
      width="45"
      height="45"
      class="rounded-circle d-inline cardAvatar"/>
    <div class="d-inline-block">
      <p class="card-subtitle">Node.js</p>
      <p class="card-sub2">@nodejs</p>
    </div>
    <button class="btn btnFollow" type="button">
      <span class="align-middle textInBtnCard">Follow</span>
    </button>
  </div>
  <div class="card-body card-body2">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9WnJe9XZz-FfBkbyUsxHlq89ObrexmjuLSLvWPrRim1A_47Pmz0udCmeezp1GnQ5wqd8&usqp=CAU"
      alt="avatar"
      width="45"
      height="45"
      class="rounded-circle d-inline cardAvatar"/>
    <div class="d-inline-block">
      <p class="card-subtitle">MDN Web Docs</p>
      <p class="card-sub2">@MozDevNet</p>
    </div>
    <button class="btn btnFollow" type="button">
      <span class="align-middle textInBtnCard">Follow</span>
    </button>
  </div>
</div>
</section>