.centered {
  position: fixed; 
  top: 50%;
  left: 50%;
} */

.userNameProf {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
} 

 .userEmail {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #647788;
}

.home,
.profile {
  color: #000000;
}

.ellipsis {
  color: #000000;
}

.homeNavBar {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.btnNavBar {
  background: #1d9bf0;
}

.btnNavBar:hover {
  color: #ffffff !important;
  background: #1d9bf0 !important;
}

.btnNavBar2 {
  background: #1d9bf0;
}

.btnNavBar2:hover {
  color: #ffffff !important;
  background: #1d9bf0 !important;
}

.tweetNavBar {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.twitterBird {
  color: #1d9bf0;
  font-size: 30px;
} 

/*TAMAÑO MOBILE */
 
@media (max-width: 991px) {
  .hideOver1298 {
    display: none;
  }
  .hideless1298 {
    display: none;
  }
}

@media (max-width: 1297px) {
  .btnNavBar2 {
    border-radius: 50px;
    margin-top: 1.8rem;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hideLess1298 {
    display: none;
  }

  .feather {
    height: 2rem;
    width: 2rem;
  }

  .btnNavBar {
    display: none;
  }

  .twitterBird {
    margin-bottom: 1rem;
    margin-left: 0.6rem;
  }
  .linkNavBar1 {
    margin-bottom: 1.2rem;
    margin-left: 1.4rem;
  }
  .linkNavBar2 {
    margin-bottom: 1.2rem;
    margin-left: 1.5rem;
  }
} 

/* TAMAÑO TABLET */
 @media (min-width: 1298px) {
  .btnNavBar {
    border-radius: 45px;
    margin-top: 1.8rem;
    margin-left: 0rem;
    margin-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  .containerNavSmall {
    width: 50%;
    margin-left: 20rem;
  }

  .hideOver1298 {
    display: none;
  }

  .twitterBird {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
  }
  .linkNavBar1 {
    margin-bottom: 1.2rem;
    margin-left: 1.2rem;
  }
  .linkNavBar2 {
    margin-bottom: 1.2rem;
    margin-left: 1.3rem;
  }
  .home {
    margin-right: 1.3rem;
  }
  .profile {
    margin-right: 1.5rem;
  }
  .ellipsis {
    margin-left: 1rem;
  }
}  
/* TAMAÑO LAPTOP */
 @media (min-width: 1200px) {
} 

/* TAMAÑO MONITOR */
 @media (min-width: 1400px) {
} 

bootstrap breakpoints:
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px